#myCanvas {
  border: 3px dotted #534E51;
  z-index: 1;
}
#animation {
  height: 482px;
  width: 1200px;
  margin-top: 10px;
  margin-left: 70px;
}
#videos {
  margin-top: 10px;
  margin-right: 60px;
  width: 1250px;
  margin-left: 62px;
}
#video_1 {
  margin-top: 2px;
  margin-right: 12px;
}
#video1 {
  border: 1px solid black;
  padding: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 2px;
}
#controlbtns {
  margin-left: -40px;
  margin-top: 10px;
}
#inforTab {
  align-content: left;
  height: 222px;
  margin-top: 10px;
  margin-right: 48px;
  padding-top: 10px;
  margin-left: -40px;
  padding-left: 10px;
  padding-right: 20px;
  border: 1px #DDDDDD solid;
}
#tabCon {
  padding-left: 10px;
  padding-top: 10px;
}
.scroll-pane {
  width: 200%;
  height: 150px;
  overflow: auto;
}
#opacityS {
  padding-top: 5px;
}
#mysc {
  border: 1px solid black;
}
#btnLayer {
  width: 582px;
  height: 482px;
  position: relative;
  background-color: #00000000 0;
  top: -487.5px;
  right: -588.5px;
  z-index: 3;
}
#cycLayer {
  position: relative;
  background-color: #00000000 0;
  top: -970px;
  right: -588.5px;
  z-index: 2;
}
#checkDraw {
  opacity: 0;
}
#recordView {
  height: 100px;
  float: left;
  overflow: auto;
}
.floating-menu {
  font-family: sans-serif;
  background: #5EB3EF;
  padding: 5px;
  width: 10vw;
  z-index: 100;
  position: fixed;
  bottom: 560px;
  left: 90%;
}
.floating-menu a {
  font-size: 1.2em;
  display: block;
  margin: 0 0.5em;
  color: white;
}
.floating-menu h3 {
  font-size: 1.8em;
  display: block;
  margin: 0 0.5em;
  color: white;
}
.j {
  font-family: sans-serif;
  width: 12vw;
  z-index: 100;
  position: fixed;
  overflow-y: auto;
  bottom: 280px;
  left: 90%;
  display: none;
}
#timeline2 {
  width: 1170px;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
  margin-left: 70px;
}
#timeline {
  width: 1170px;
  margin-top: 20px;
  border: 1px solid black;
  margin-left: 70px;
  padding: 10px;
  position: relative;
}
.vis-item.Tdistance {
  background-color: #5CB85B;
  color: white;
}
.vis-item.Torientation {
  background-color: #F0AD4E;
  color: white;
}
.vis-item.Tmotion {
  background-color: #56BED7;
  color: white;
}
.vis-item.Tlocation {
  background-color: #D9534F;
  color: white;
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 9999;
}
#progress {
  width: 522px;
}
#progress #progress_box {
  float: left;
  width: 522px;
  height: 9px;
  border: 1px solid #ccc;
  background-color: #A39CA7;
  margin: 10px 20px 0 -5px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#progress #play_progress {
  display: block;
  width: 0;
  height: 9px;
  background-color: #56BED7;
  opacity: 0.7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#progress #load_progress {
  display: block;
  width: 0;
  height: 9px;
  background-color: #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#progress #play_time {
  float: left;
  margin: 7px 0 0 -5px;
  width: 512px;
}
/*# sourceMappingURL=query.css.map */